/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
    padding: 0;  
    /* border: solid 1px black; */
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    line-height: 1.5;
    /* scroll-behavior: smooth; */
    -webkit-font-smoothing: antialiased;
    font-family: 'Roboto', sans-serif;
    scrollbar-gutter: stable;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  a {
    text-decoration: none;
    color: var(--color-black);
  }

.all-content {
  /* display: flex; */
  /* flex-direction: column; */
  /* min-height: 100%; */
  /* flex-grow: 1; */
}

header {
  min-height: 180px;
  margin-bottom: -30px;
  color: black;
  background-color: rgb(143, 146, 100);
}

.no-scroll {
  position: fixed;
  overflow: hidden;
  overflow-y: scroll;
  width: 100%;
}

.main-content {
  z-index: 1;
  background-color: cadetblue;
}

.content-single {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: rgb(0, 0, 0);
}

.pokemon-top-section {
    border-radius: 40px 40px 0 0;
    /* border: 5px solid; */
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    width: 100%;
    margin-top: 50px;
    /* min-height: 450px; */
    color: rgb(255, 255, 255);
}

  /* Popup */

.pokemon-bigger {
  }

.main-slider-container {
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999;
  position: fixed;
  opacity: 1;
  inset: 0;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding: 10px;
  animation: new-animation .5s ease;
}

@keyframes new-animation {
  from {opacity: 0;}
  to {opacity: 1;}
}

.pokemon-img {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  top: -20px;
  margin-inline: 20px;
  max-width: 400px;
  width: 100%;
  height: 100%;
  
}

.input {
  min-height: 40px;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

.input:focus {
  border: 3px solid #555;
}

.pokemon-img-content {
  display: flex;
  justify-content: space-between;
  margin: 15px;
  max-width: 400px;
  width: 100%;
  height: 250px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.pokemon-img-content:hover .img-content  {
  scale: 1.1;
}

.pokemon-img-content::after {
  content: '';
  position: absolute;
  height: 250px;
  width: 250px;
  bottom: -60px;
  right: -20px;
  background-image: url(./icons/pokeball.svg);
  background-repeat: no-repeat;
  background-size: contain;
  transition-duration: 0.6s;
}

.pokemon-img-content:hover:after {
  transform: rotate(45deg);
}

.img-content {
  object-fit: contain;
}

.img-container {
  display: flex;
  /* align-items: flex-end; */
  max-width: 200px;
  height: 200px;
  z-index: 2;
}

.number-img-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.img {
  position: relative;
  transform: translateY(5%);
  z-index: 2;
}

.pokemon-name-type-number {
  display: flex;
  justify-content: space-between;
}

.pokemon-name-type {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.pokemon-number-container {
  display: flex;
  align-items: center;
}

.pokemon-name-big {
  /* font-size: 30px; */
  /* font-weight: 700; */
  /* text-transform: capitalize; */
}

.pokemon-name {
  /* font-size: 30px;
  font-weight: 700; */
  /* text-transform: capitalize; */
}

.pokemon-type {
  display: flex;
  gap: 5px;
}

.pokemon-type-content {
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 5px;
}
.pokemon-number-content {
  display: flex;
  justify-content: end;
  margin: 10px 10px;
}

.pokemon-bottom {
  transform: translateY(-60px);
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  max-width: 500px;
  width: 100%;

  height: 500px;
  border-radius: 40px;
  padding-top: 40px;
  gap: 20px;
}

.navbar-section {
  display: flex;
  justify-content: center;
  align-items: center;
}


.pokemon-navbar {
  display: flex;
  align-items: baseline;
  padding: 20px 5px 0 5px;
  list-style-type: none;
  max-width: 400px;
  overflow: hidden;
  scroll-behavior: smooth;
  /* touch-action: pan-x; */
}

.pokemon-nav-item {
  display: flex;
  justify-content: center;
  cursor: pointer;
  flex-shrink: 0;
  padding-inline: 12px;
  width: 115px;
  /* width: 100%; */
  font-weight: 700;
  border-bottom: 3px solid rgba(0, 0, 0, 0.205);
  padding-bottom: 10px;
  transition: all 500ms;
}

.nav-arrow-single {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  min-width: 35px;
  min-height: 35px;
  border-radius: 50%;
  background-color: rgb(245, 243, 241);
  margin: 5px;
}

.nav-arrow-single:active {
  background-color: rgba(212, 212, 212, 0.8);

}


.nav-arrow {
  height: 25px;
  width: 25px;
}

.pokemon-nav-item:hover {
  color: rgb(0, 0, 0);
  border-bottom: 3px solid rgb(0, 0, 0);
}

.active {
  color: rgb(0, 0, 0);
  border-bottom: 3px solid rgb(0, 0, 0);
}

.flag-active {
  background-color: rgba(0, 0, 0, 0.2);
} 

.active-a {
  color: rgb(0, 0, 0) !important;
}

.pokemon-nav-item a {
  color: rgba(0, 0, 0, 0.205);
  transition: all 500ms;
}

.pokemon-nav-item:hover a {
  color: rgb(0, 0, 0);
}

.pokemon-base-stats-name {
  color: rgba(0, 0, 0, 0.305);

}
.about-section {
  line-height: 1.8;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  scrollbar-gutter: stable;
}

.growth-rate-dl,
.about-dl {
  width: 100%;
  /* overflow: hidden; */
  padding: 0;
  margin: 0;
}

.growth-rate {
  overflow-y: auto;
  scrollbar-gutter: stable;
}
.about-dt {
  float: left;
  width: 50%;
  /* adjust the width; make sure the total of both is 100% */
  font-weight: unset;
  padding: 0;
  margin: 0
}

.pokemon-abilities {
  height: 55px;
}

.all-growth-rate-content-dd {
    /* float: left; */
    padding: 0;
    margin: 0 0 0 20px;
}

.growth-rate-content-dd {
  /* float: left; */
  padding: 0;
  margin-left: 20px;
}

.about-dd {
  float: left;
  width: 50%;
  /* adjust the width; make sure the total of both is 100% */
  font-weight: 700;
  padding: 0;
  margin: 0
}

.languages-dt {
  font-weight: 700;
}

.pokemon-gender-female {
  margin-right: 10px;
  font-weight: 700;
}

.pokemon-gender-male {
  font-weight: 700;
}

.gender-info {
  display: flex;
  width: max-content;
}

.all-sections {
  display: flex;
  margin: 0 10px 20px 30px;
  overflow: hidden;
  overflow-y: auto;
  scrollbar-gutter: stable;

}

.pokemon-languages {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 440px;
  overflow-y: scroll;
  scrollbar-gutter: stable;
  display: flex;
}

.pokemon-languages-content {
  width: 100%;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  color: rgb(255, 255, 255);
  margin-top: -30px;
  background-color: rgb(146, 100, 100);
}

.load-more {
  position: fixed;
  bottom: 50px;
  z-index: 1;
}

/* *{
  border: 1px solid black;
} */

button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: rgba(74,74,74,.9);
  border: none;
  /* it must be z-index otherwise cursor pointer doesn't work. */
  z-index: 3;
  transition: ease-in-out 200ms;
}

button:hover {
  background-color: rgba(0, 0, 0, -1.1);
}

button:active {
  background-color: rgba(74,74,74,.9);
}

.close-button {
position: absolute;
top: 30px;
right: 30px;
}

.icon-arrow,
.icon-heart {
  padding: 5px;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.icons {
  height: 50px;
  width: 50px;
}

.pokemon-arrow-heart {
  margin: 10px 0 0 10px;
  padding-inline: 15px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.arrow-left {
  position: absolute;
  top: 200px;
  left: 7px;
  background-color: rgba(255, 255, 255, 0.200);
  height: 70px;
  width: 35px;
}

.arrow-right {
  position: absolute;
  top: 200px;
  right: 7px;
  background-color: rgba(255, 255, 255, 0.200);
  height: 70px;
  width: 35px;
}

.arrow-left:active,
.arrow-right:active {
  background-color: rgba(255, 255, 255, 0.200);

}

/* Evolution Section */
.pokemon-evolution {
  width: 100%;
  overflow-y: auto;
  scrollbar-gutter: stable;
}

.img-defult-name-evolution,
.img-first-name-evolution,
.img-second-name-evolution {
  height: 100px;
}

.evolution-section-first,
.evolution-section-second {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.evolution-single {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.pokemon-type-name {
  background-color: rgba(255, 255, 255, 0.3);  
}

.pokemon-moves {
  display: flex;
  font-weight: 500;
  overflow-y: auto;
  overflow-x: hidden;
  flex-wrap: wrap;
}
.pokemon-moves-content {
  display: flex;
  flex-wrap: wrap;
}

.pokemon-move-name {
  display: inline-block;
  flex: 1;
  text-align: center;
  padding: 0 5px;
  margin: 2px;
  border-radius: 10px 10px 10px 10px;
  background-color: rgba(0, 0, 0, 0.1);
  white-space: nowrap;
  transition: 250ms ease-in-out;
}

.pokemon-move-name:hover {
  scale: 1.1;
}

.growth-rate {
  display: flex;
  flex-direction: column;
}

.all-picture {
  height: 200px;
  width: 200px;
}

@media (max-height: 1100px) {
  .pokemon-top-section {
    height: 380px;
  }
  .img {
    transform: translateY(-5%);
    height: 250px;
  }
  
  .test {
    display: flex;
    justify-content: center;
  }
}

@media (max-height: 1000px) {
  .pokemon-top-section {
    height: 330px;
  }
  .img {
    transform: translateY(-20%);
    height: 250px;
  }
}

@media (max-height: 950px) {
  .pokemon-img {
    height: 250px;
  }
  .img {
    transform: translateY(-25%);
    height: 250px;
  }
  .pokemon-bottom {
    height: 330px;
  }
}

@media (max-width: 860px) {
  .main-content {
    /* margin: 50px auto; */
  }
}

@media (max-width: 670px) {
  .close-button {
    display: none;
  }
}

@media (max-width: 470px) {
  .pokemon-img {
    padding-inline: 10px;
  }
}



.c-scroll-top--visible {
  display: flex;
}

.c-scroll-top {
  position: fixed;
  z-index: 10;
  bottom: 4rem;
  right: 4rem;
  display: none;
  color: #4a4a4a;
  background: rgba(220,225,229,.9);
  padding: 0.8rem;
  border-radius: 50%;
  box-shadow: 0 0 0 rgba(220,225,229,.6);
  -webkit-animation: pulse 6s infinite;
  animation: pulse 6s infinite;
}

.c-scroll-top__icon {
  transition: transform .4s;
}

.c-icon {
  width: 2.5rem;
  height: 2.5rem;
  fill: currentColor;
  transition: all .1s;
}

.c-scroll-top:hover .c-scroll-top__icon {
  transform: rotate(-360deg);
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(220,225,229,.6);
  }
  10% {
    box-shadow: 0 0 0 10px rgba(220,225,229,.2);
}
  20% {
    box-shadow: 0 0 0 10px rgba(220,225,229,0);
}
 100% {
  box-shadow: 0 0 0 0 rgba(220,225,229,0);
 }
}

@media (max-width: 1100px) {
  .c-scroll-top {
    bottom: 1rem;
    right: 1rem;
  }
  .c-icon {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.pokemon-green {
 background-color: rgb(70, 209, 178); 
}
.pokemon-red {
  background-color: rgb(249,103,103);
}
.pokemon-blue {
  background-color: rgb(119,190,254)
}
.pokemon-white {
  background-color: rgb(160, 181, 54);
}
.pokemon-yellow {
  background-color: rgb(207, 152, 58)
}
.pokemon-brown {
  background-color: rgb(207, 152, 58);
}
.pokemon-purple {
  background-color: rgb(233, 168, 242);
}
.pokemon-cream {
  background-color: rgb(153, 148, 144);
}
.pokemon-pink {
  background-color: rgb(243, 204, 243);
}
.pokemon-gray {
  background-color: rgb(128,128,128);
}
.pokemon-defult {
  background-color: red;
}